body{
	padding: 0px 0vw;
	background-color: #F2F2F2;
	margin: 0px;
}

/*			Header			*/

header{
	padding: 0px 4vw;
	width: 90vw;
	margin: 30px 0px 0px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

#hamburguer-buttom{
	height: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

#hamburguer-buttom img{height: 30px;}
#hamburguer-buttom h2{
	font-family: sans-serif;
	font-size: 1em;
	margin-left: 5px;
}

#search-bar{
	width: 20%;
	background-color: white;
	box-shadow: 0px 1px 3px black;
	display: flex;
	align-items: center;
	height: 30px;
	border-radius: 15px;
	padding: 0px 1%;
	margin: 0px;
}

#search-bar img{height: 20px;}

#search-bar input{
	width: 90%;
	height: 25px;
	margin-left: 5px;
	border: none;
}

#circle{
	width: 5vw;
	height: 5vw;
	background-color: #444;
	border-radius: 2.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#circle div{
	width: 3vw;
	height: 3vw;
	background-color: #F2F2F2;
	border-radius: 1.5vw;
	display: flex;
}

#climate {
	width: 25%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#climate img{
	height: 30px;
	margin-right: 20px;
}

#climate p{
	margin: 0px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#temp-min{color: red;}
#temp-max{color: blue;}

#user-info{
	display: flex;
	align-items: center;
}

#notification{height: 20px;}
#arrow-down{height: 10px;margin: 0px 5px 0px 10px}
#image-profile{height: 35px;}


/*			Main			*/

main{
	width: 90vw;
	padding: 0px 4vw;
}

#menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px 0px 50px;
	padding: 0px;
	border: none;
}

#menu a{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	color: black;
	text-decoration: none;
	padding: 2px 0px;
	transition: .3s;
}


#menu a:hover{
    padding: 0px;
    border-bottom: 2px solid black;
}

/*		Destaques		*/

#highlights{
	width: 100%;
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
	display: flex;
	padding-bottom: 50px;
}

#matters-01{
	width: 60%;
	height: 50vh;
	display: inline-block;
}


#img-matters-01{
	width: 70%;
	color: red;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	transform: translateY(-30px);
}

#texto-matters-01{
	width: 48%;
	background-color: #c21336;
	padding: 20px 30px 50px;
	border-radius: 5px;
	color: white;
	font-family: sans-serif;
	position: relative;
	left: 40%;
	top: -100%;
}

#img-matters-01 div{
	overflow: hidden;
	border-radius: 10px;

}

#img-matters-01 img{
	width: 100%;
	border-radius: 10px;
  	transition: all 0.5s;  
    transform: scale(1);
}

#img-matters-01 img:hover{
	transform: scale(1.2);
}

#texto-matters-01 a{color: white;text-decoration: none;}
#texto-matters-01 h1{font-size: 25px;}
#texto-matters-01 p{font-size: 20px;}

.baner-01-matters{
	width: 20%;
	margin-top: 30px;
	border-radius: 5px;
}

.baner-01-matters a{
	color: black;
	text-decoration: none;
}

.baner-01-matters img{
	width: 95%;
	height: 50%;
	border-radius: 5px;
    object-fit: cover;
}

.baner-01-matters p{
	margin-top: 20px;
	font-size: 15px;
	font-family: sans-serif;
}

.baner-01-matters h2{
	font-family: sans-serif;
	font-size: 20px;
}

/*			matters 		 */

#matters{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-bottom: 80px;
}

#matters-left{
	display: flex;
	flex-direction: column;
	width: 58%;
}

.simplified-matter-left{
	padding: 10px 0px;
	display: flex;
	background-color: white;
	width: 100%;
	font-family: sans-serif;
	color: black;
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
}

.simplified-matter-left .title{
	font-size: 25px;
	font-weight: bold;
}

.simplified-matter-left .date{
	font-size: 15px;
}

.simplified-matter-left img{
	border-radius: 10px;
	width: 35%;
}

.simplified-matter-left div{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


#left-cod-01{
	padding: 0px 0vw;
	width: 100%;
	height: 55vh;
	background-image: url("./images/matters/left/01.jpg");
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	text-decoration: none;
}

#left-cod-01 div{
	color: white;
	font-family: sans-serif;
	width: 100%;
	padding: 10px;
	background-color: #7499d6;
	border-radius: 10px;
	transition: 1s;
}

#left-cod-01:hover div{
	padding-bottom: 50px;
}

#left-cod-01-title{
	font-size: 15px;
	padding-top: 10px;
}

#left-cod-01-text{
	font-size: 25px;
}

#matters-right{
	width: 40%;
}

#matters-right-cod-2{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#matters-right-cod-2 article{
	padding: 0px 2% 1%;
	width: 44%;
	height: 50vh;
	display: flex;
	align-items: flex-end;
	justify-items: center;
	border-radius: 10px;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover; 
}	

#matters-right-cod-2 article a{
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	transition: 1s;
}

#matters-right-cod-2 article:hover a{
	padding-bottom: 50px;
}

#matters-right-cod-2-children-01{
	background-image: 
	linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 1)),
	url('./images/matters/right/02.webp');}
#matters-right-cod-2-children-02{
	background-image: 
	linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 1)),
	url('./images/matters/right/03.webp');}

#matters-right-cod-1{
	width: 90%;
	height: 45vh;
	background-color: white;
	border-radius: 10px;
	background-image: 
	linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 1)),
	url("./images/matters/right/01.webp");
	background-position: top center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 0px 5%;
	margin-top: 20px;
}

#matters-right-cod-1 a{
	text-decoration: none;
	color: white;
}

#matters-right-cod-1 h1,p{
	padding: 0px;
	margin: 0px;
}

#matters-right-cod-1 h1{
	font-size: 20px;
}

#matters-right-cod-1 p{
	font-size: 15px;
	margin-bottom: 15px;
}

.simplified-matter-right{
	padding: 10px 2% 10px 5%;
	display: flex;
	background-color: white;
	width: 93%;
	font-family: sans-serif;
	margin-top: 15px;
	text-decoration: none;
	color: black;
}

.simplified-matter-right .title{
	font-size: 20px;
	font-weight: bold;
}

.simplified-matter-right .date{
	font-size: 10px;
}

.simplified-matter-right div{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.simplified-matter-right img{
	border-radius: 10px;
	width: 35%;
	margin-right: 20px;
}

.simplified-matter-right .titulo{
	font-size: 15px;
}


/*			Vídeos em destaque 			*/

#featured-videos{
	border-top: 2px solid #888;
}

#featured-videos-title{
	font-family: sans-serif;
	font-size: 18px;
	transform: translateY(-25px);
	background-color: #F2F2F2;
	width: 17%;
}

#featured-videos-container{
	width: 100%;
	
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.featured-videos{
	width: 24%;
	height: 40vh;
	border-radius: 10px;
	font-family: sans-serif;
	background-color: white;
}

.featured-videos a{
	text-decoration: none;
	color: black;
}

.featured-videos img{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.video-info{
	
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
	transform: translateY(-20px);
}

.play-button{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.play-button img{width: 50%;}
.video-info p{font-size: 10px;}

.video-button-blue{background-color: blue;}
.video-text-blue{color: blue;font-weight: bold}

.video-button-green{background-color: green;}
.video-text-green{color: green;font-weight: bold}

.video-button-pink{background-color: pink;}
.video-text-pink{color: pink;font-weight: bold}



/*			Some info 			*/



#some-info{
	margin-top: 200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#some-info article{
	border-radius: 10px;
}

#some-info-cod-01{
	width: 58%;
}


#some-info-cod-01 a{
	padding: 0px 0vw;
	width: 100%;
	height: 55vh;
	background-image: url("./images/matters/left/01.jpg");
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	text-decoration: none;
}

#some-info-cod-01 a div{
	color: white;
	font-family: sans-serif;
	width: 100%;
	padding: 10px;
	background-color: #7499d6;
	border-radius: 10px;
	transition: 1s;
}

#some-info-cod-01:hover div{
	padding-bottom: 50px;
}

#some-info-cod-01-title{
	font-size: 15px;
	padding-top: 10px;
}

#some-info-cod-01-text{
	font-size: 25px;
}

#infos{
	width: 40%;
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

#info-horoscope{
	width: 100%;
	height: 48%;
	background-color: blue;
}

#infos div{
	width: 100%;
	height: 48%;
	display: flex;
	justify-content: space-between;
}

#info-stock-exchange{
	width: 48%;
	height: 100%;
	background-color: blue;
}

#info-mega-sena{
	width: 48%;
	height: 100%;
	background-color: blue;
}



/*			More simplified matters  			*/

#more-simplified-matters{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#more-simplified-matters-left{
	width: 58%;
}

#more-simplified-matters-right{
	width: 40%;

}








/*			Footer 		*/

footer{
	width: 100%;
	height: 10vh;
	background-color: #444;
	margin-top: 100px;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 0px;
}

footer p, footer a{
	width: 40%;
	text-align: center;
	font-family: sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: white;
}

#footer-circle{
	width: 5vw;
	height: 5vw;
	background-color: #F2F2F2;
	border-radius: 2.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-circle div{
	width: 3vw;
	height: 3vw;
	background-color: #444;
	border-radius: 1.5vw;
	display: flex;
}