*{
	font-family: sans-serif;
}

html {
 	font-size: 100%;
}

body{
	padding: 0px 0vw;
	background-color: #F2F2F2;
	margin: 0px;
}

/*			Header			*/

header{
	padding: 0px 4vw;
	width: 90vw;
	margin: 30px 0px 0px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

#hamburguer-buttom{
	height: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

#hamburguer-buttom img{height: 30px;}
#hamburguer-buttom h2{
	font-size: 1em;
	margin-left: 5px;
	padding-top: 3px;
}

#search-bar{
	width: 20%;
	background-color: white;
	box-shadow: 0px 1px 3px black;
	display: flex;
	align-items: center;
	height: 30px;
	border-radius: 15px;
	padding: 0px 1%;
	margin: 0px;
}

#search-bar img{height: 20px;}

#search-bar input{
	width: 90%;
	height: 25px;
	margin-left: 5px;
	border: none;
}

#circle{
	width: 5vw;
	height: 5vw;
	background-color: #444;
	border-radius: 2.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#circle div{
	width: 3vw;
	height: 3vw;
	background-color: #F2F2F2;
	border-radius: 1.5vw;
	display: flex;
}

#climate {
	width: 25%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#climate img{
	height: 30px;
	margin-right: 20px;
}

#climate p{
	margin: 0px;
	font-size: .75rem; //12px;
	font-weight: bold;
}

#temp-min{color: red;}
#temp-max{color: blue;}

#user-info{
	display: flex;
	align-items: center;
}

#notification{height: 20px;}
#arrow-down{height: 10px;margin: 0px 5px 0px 10px}
#image-profile{height: 35px;}


/*			Main			*/

main{
	width: 90vw;
	padding: 0px 4vw;
}

#menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px 0px 50px;
	padding: 0px;
	border: none;
}

#menu a{
	font-weight: bold;
	font-size: 1rem; //15px;
	color: black;
	text-decoration: none;
	padding: 2px 0px;
	transition: .1s;
}

#menu a:hover{
    padding: 0px;
    border-bottom: 2px solid black;
}

/*		Destaques		*/

#highlights{
	width: 100%;
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
	display: flex;
	padding-bottom: 0px;
}

#matters-01{
	width: 60%;
	height: 28vw;	//40vh;
	display: inline-block;
}

#matters-01 a, .baner-01-matters a{
	color: black;
	text-decoration: none;
}

#matters-01 a:hover #texto-matters-01 h1{
	text-decoration: underline;
}

#img-matters-01{
	width: 70%;
	color: red;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	transform: translateY(-30px);
}

#texto-matters-01{
	width: 48%;
	background-color: #c21336;
	padding: 20px 30px 50px;
	border-radius: 10px;
	color: white;
	position: relative;
	left: 40%;
	top: -90%;
}

#img-matters-01 div{
	overflow: hidden;
	border-radius: 10px;

}

#img-matters-01 img{
	width: 100%;
	border-radius: 10px;
  	transition: all 0.5s;  
    transform: scale(1);
}

#img-matters-01 img:hover{
	transform: scale(1.2);
}

#texto-matters-01 a{color: white;text-decoration: none;}
#texto-matters-01 h1{font-size: 1.4rem; //23px;}
#texto-matters-01 p{font-size: 1rem; //15px;}

.baner-01-matters{
	width: 20%;
	margin-top: 30px;
	border-radius: 10px;
}

.baner-01-matters:hover h2{
	text-decoration: underline;
}

.baner-01-matters img{
	width: 95%;
	height: 50%;
	border-radius: 10px;
    object-fit: cover;
}

.baner-01-matters p{
	margin-top: 20px;
	font-size: 1rem; //15px;
}

.baner-01-matters h2{
	font-size: 1.25rem; //20px;
}

/*			matters 		 */

#matters{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-bottom: 80px;
}

#matters-left{
	display: flex;
	flex-direction: column;
	width: 58%;
}

.simplified-matter-left{
	border-radius: 10px;
	padding: 10px 0px;
	display: flex;
	background-color: white;
	width: 100%;
	color: black;
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
}

.simplified-matter-left .title{
	font-size: 1.3rem; //22px;
	font-weight: bold;
}

.simplified-matter-left .date{
	font-size: 1rem; //15px;
}

.simplified-matter-left img{
	border-radius: 10px;
	width: 35%;
}

.simplified-matter-left div{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


#left-cod-01{
	padding: 0px 0vw;
	width: 100%;
	height: 30vw; //43vh;
	background-image: url("./images/matters/left/01.jpg");
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	text-decoration: none;
}

#left-cod-01 div{
	color: white;
	width: 100%;
	padding: 10px;
	background-color: #7499d6;
	border-radius: 10px;
	transition: .3s;
}

#left-cod-01:hover div{
	padding-bottom: 50px;
}

#left-cod-01-title{
	font-size: 1rem; //15px;
	padding-top: 10px;
}

#left-cod-01-text{
	font-size: 1.6rem; //25px;
}

.simplified-matter-right:hover .title, .simplified-matter-left:hover .title{
	text-decoration: underline;
}

#matters-right{
	width: 40%;
}

#matters-right-cod-2{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#matters-right-cod-2 article{
	padding: 0px 2% 2%;
	width: 44%;
	height: 21vw; //30vh;
	display: flex;
	align-items: flex-end;
	justify-items: center;
	border-radius: 10px;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover; 
}	

#matters-right-cod-2 article a{
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 1rem; //20px;
	text-decoration: none;
	transition: .3s ease;
	padding-bottom: 1rem;
}

#matters-right-cod-2 article:hover{
	cursor: pointer;
}

#matters-right-cod-2 article:hover a{
	padding-bottom: 50px;
}

#matters-right-cod-2-children-01{
	background-image: 
	linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 1)),
	url('./images/matters/right/02.webp');}
#matters-right-cod-2-children-02{
	background-image: 
	linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 1)),
	url('./images/matters/right/03.webp');}

#matters-right-cod-1{
	width: 90%;
	height: 21vw; //30vh;
	background-color: white;
	border-radius: 10px;
	background-image: 
	linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 1)),
	url("./images/matters/right/01.webp");
	background-position: top center;
	color: white;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 0px 5%;
	margin-top: 20px;
}

#matters-right-cod-1:hover{
	cursor: pointer;
}

#matters-right-cod-1:hover h1{
	text-decoration: underline;
}

#matters-right-cod-1 a{
	text-decoration: none;
	color: white;
	padding-bottom: 1rem;
}

#matters-right-cod-1 h1, p, span{
	padding: 0px;
	margin: 0px;
}

#matters-right-cod-1 h1{
	font-size: 1rem; //20px;
	margin-top: 10px;
}

#matters-right-cod-1 p{
	font-size: .8rem; //15px;
	margin-bottom: 10px;
}

#matters-right-cod-1 span{font-size: .6rem; //15px;}

#simplified-matter-right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 15px;
	height: 44vw;	//65vh;
}

.simplified-matter-right-container{
	padding: 0px 0px;
}

.simplified-matter-right{
	padding: 10px 2% 10px 5%;
	display: flex;
	background-color: white;
	width: 93%;
	text-decoration: none;
	color: black;
}

.simplified-matter-right .title{
	font-size: 1rem; //20px;
	font-weight: bold;
}

.simplified-matter-right .date{
	font-size: .63rem; //10px;
}

.simplified-matter-right div{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.simplified-matter-right img{
	border-radius: 10px;
	width: 35%;
	margin-right: 20px;
}

.simplified-matter-right .titulo{
	font-size: 1rem; //15px;
}


/*			Vídeos em destaque 			*/

#featured-videos{
	border-top: 2px solid #888;
}

#featured-videos-title{
	font-size: 1.13rem; //18px;
	transform: translateY(-25px);
	background-color: #F2F2F2;
	width: 17%;
}

#featured-videos-container{
	width: 100%;
	
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.featured-videos{
	width: 24%;
	height: 28vw;	//40vh;
	border-radius: 10px;
	background-color: white;
}

.featured-videos a{
	text-decoration: none;
	color: black;
}

.featured-videos img{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.featured-videos:hover .play-button{
	box-shadow: 0px 0px 5px #ccc;
	transform: scale(1.1);
	transition: all .3s ease;
}

.video-info{
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
	transform: translateY(-20px);
}

.play-button{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.play-button img{width: 50%;}
.video-info p{font-size: .63rem; //10px;}

.video-button-blue{background-color: blue;}
.video-text-blue{color: blue;font-weight: bold}

.video-button-green{background-color: green;}
.video-text-green{color: green;font-weight: bold}

.video-button-pink{background-color: pink;}
.video-text-pink{color: pink;font-weight: bold}



/*			Some info 			*/



#some-info{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#some-info article{
	border-radius: 10px;
}

#some-info-cod-01{
	width: 58%;
}


#some-info-cod-01 a{
	padding: 0px 0vw;
	width: 100%;
	height: 38.4vw;	//55vh;
	background-image: url("./images/matters/left/01.jpg");
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	text-decoration: none;
}

#some-info-cod-01 a div{
	color: white;
	width: 100%;
	padding: 10px;
	background-color: #7499d6;
	border-radius: 10px;
	transition: .3s;
}

#some-info-cod-01:hover div{
	padding-bottom: 50px;
}

#some-info-cod-01-title{
	font-size: 1rem; //15px;
	padding-top: 10px;
}

#some-info-cod-01-text{
	font-size: 1.6rem; //25px;
}

#infos{
	width: 40%;
	height: 38.4vw;	//55vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

#infos article{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#info-horoscope{
	width: 100%;
	height: 48%;
	
}

#info-horoscope img{
	width: 10%;
}

#sign{
	color: blue;
}

#sign-description{
	text-align: center;
	padding: 0px 20px 10px;
}

#infos #bottom{
	width: 100%;
	height: 48%;
	display: flex;
	justify-content: space-between;
}

#info-stock-exchange{
	width: 48%;
	height: 100%;
	display: flex;
	flex-direction: column;	
}

#info-stock-exchange h1{
	width: 100%;
	text-align: center;
}

#info-stock-exchange-data{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	font-size: .8rem;
	font-weight: bold;
}

#info-stock-exchange-data p{
	line-height: 1.3rem;
}

#stock-exchange-left{
	width: 60%;
	text-align: right;

}

#stock-exchange-right{
	width: 35%;
}

.positive-value{color: blue}
.negative-value{color: red}

#info-mega-sena{
	width: 48%;
	height: 100%;
	background-color: blue;
}

#info-mega-sena h1{
	margin: 0px;
}

#info-mega-sena img{
	width: 25%;
}

#info-mega-sena div{
	width: 55%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}	

#info-mega-sena div p{
	width: 36px;
	height: 36px;
	border-radius: 18px;	
	margin-bottom: 5px;
	border: 1px solid green;
	display: flex;
	align-items: center;
	justify-content: center;
	color: green;
}


/*			More simplified matters  			*/

#more-simplified-matters{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#more-simplified-matters-left{
	width: 58%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#more-simplified-matters-right{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*			Footer 		*/

footer{
	width: 100%;
	height: 7vw;	//10vh;
	background-color: #444;
	margin-top: 100px;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 0px;
}

footer p, footer a{
	width: 40%;
	text-align: center;
	font-size: 0.8rem; //13px;
	text-decoration: none;
	color: white;
}

#footer-circle{
	width: 5vw;
	height: 5vw;
	background-color: #F2F2F2;
	border-radius: 2.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-circle div{
	width: 3vw;
	height: 3vw;
	background-color: #444;
	border-radius: 1.5vw;
	display: flex;
}

@media only screen and (max-width: 1200px) {
	html {
 		font-size: 80%;
 	}

	#texto-matters-01{
		padding: 20px;
		top: -100%;
	}
	#simplified-matter-right{
		height: 46vw;
	}
	#info-mega-sena div{
		width: 60%;
	}
	#info-mega-sena div p{
		width: 30px;
		height: 30px;
		border-radius: 15px;	
		margin-bottom: 5px;
	}
}

@media only screen and (min-width: 1100px){
	html {font-size: 90%;}
}

@media only screen and (min-width: 1200px){
	html {font-size: 100%;}
}